@import "tailwindcss";

:root {
  --background: #f7f6fb;
  --foreground: #171717;
  --primary-100: #10367d;
  --primary-50: #74b4da;
  --neutral-100: #ebebeb;
  --neutral-0: #171618;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-satoshi: var(--font-satoshi) --font-albertsans: var(--font-albertsans);
  --font-sora: var(--font-sora);
  --color-background: var(--background);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-0: var(--color-neutral-0);
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-poppins);
}

.style-sections-dashboard {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1.5rem;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .style-sections-dashboard {
    padding: 2rem;
  }
}

.style-error {
  color: var(--color-red-500);
  font-weigth: 300;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
